<ion-view title="描述你的地方">
     <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content overflow-scroll="false" padding="false" class="has-header">
        
        <div class="list">
            
 <ion-list>
     <div class="item item-divider">
    你需要清潔的地方：
  </div>
  <ion-radio ng-model="order.choice" ng-value="'屋企'">屋企</ion-radio>
  <ion-radio ng-model="order.choice" ng-value="'寫字樓'">寫字樓</ion-radio>
   <ion-radio ng-model="order.choice" ng-value="'學校'">學校</ion-radio>

</ion-list>
             <div class="item item-divider">
   其他：
  </div>
            
           
      <label class="item item-input item-select">
    <div class="input-label">
     地方大小
    </div>
    <select ng-model="order.size"> 
        <option selected>300-600尺</option>
      <option >600-800尺</option>
             

      <option >800尺以上</option>
    </select>
  </label>          
       
    
            
      <label class="item item-input item-select">
    <div class="input-label">
      房間數量
    </div>
    <select ng-model="order.rooms">
      <option selected>1-2個</option>
      <option >3-5個</option>
      <option>6-10個</option>
    </select>
  </label>       
        
             <label class="item item-input item-select">
    <div class="input-label">
     洗手間數量
    </div>
    <select ng-model="order.bathrooms">
      <option selected>1-2個</option>
      <option >多過2個</option>
     
    </select>
                
  </label>   
            
            
            
      <button ng-click="count(order)" class="button button-full button-outline button-assertive">
計算費用
</button>      
            
            
            
</div>
        
      
        
    </ion-content>
</ion-view>